include AUTHORS
include COPYING
include ChangeLog
include INSTALL
include Makefile
include NEWS
include README
include spin.spec
prune spin/modules/core/vm
prune spin/modules/extensions/vm
recursive-include docsrc *
recursive-include etc *
recursive-include share *
