[GdmGreeterTheme]
Greeter=SystemBuilderGDM.xml
Name=SystemBuilder
Description=SystemBuilder KDM skin. Modified version of Avio by Tobias Oelgarte. Design by Martin Sourada, Nicu Buculei, and Steven Garrity. KDM port by Kevin Kofler.
Author=Tobias Oelgarte, modified by Máirín Duffy, ported to KDM by Kevin Kofler
Copyright=2007
Screenshot=screenshot.png
