a:link {
	color:#293895;
        border-bottom-width: 0px;
        border-bottom-style: none;
}

a:visited {
	color:#293895;
}

h1 {
	color:#293895;
}

.producttitle { 
	color: #293895;
        background-image: none;
        background-color: transparent;
        height: auto;
        padding-top: 0px;
        padding-bottom: 0px;
}

#title {
	height: 0px;
}

.section h1.title {
	color:#293895;
}


h2,h3,h4,h5,h6 {
	color:#293895;
}

table {
	border:1px solid #aaa;
}

table th {
        background-color: #293895;
}

table tr.even td {
	background-color: lightgray;
}

.term{
	color:#293895;
}

.revhistory table th {
	color:#293895;
}

.edition {
	color: #293895;
}

span.remark{
	background-color: #ffff00;
}

div.note, div.important, div.warning {
        background-color:#dddddd;
        color:black;
}

div.note h2, div.important h2, div.warning h2 {
        color:black;
}

/* Admonition links */
div.note a:visited, div.important a:visited, div.warning a:visited, div.note a:link , div.important a:link , div.warning a:link {
        color:#293895;
}

